

/* Hide the default search box, metadata  */
#s-la-page-title-bar,
.s-la-faq-listing-meta {
	display: none;
}

.s-la-box-title h2 {
	font-weight: bold;
	font-style: italic;
	font-size:1.2em;
}

.s-la-content-faqlist ul {
  margin-left: 0;
}
#cms-content a { color: #1F65A0; text-decoration: none;}
a.btn.btn-primary, .btn.btn-primary a { color: #fff !important;}
a.btn.btn-default, .btn.btn-default a { color: #333 !important; }
.s-la-searchform-button, .s-la-searchform-button:hover, .s-la-searchform-button:focus, .s-la-searchform-button:active {
	background-color: #428bca !important;
	background-image: none !important;
	border-color: #357ebd !important;
}



h3.help-boxtitle {
  margin-left: -1.5em;
  margin-bottom: -2em;
  padding-bottom: .5em;
  border-bottom: 1px solid #ccc;
}

li.s-la-faq-listing {
	border-bottom: 0;
}

#s-la-search-list li.s-la-faq-listing {
	border-bottom: 1px solid #ddd;
}

ul.s-la-faq-topics.list-inline {
  margin-top: -1em;
}



.s-la-color-bars-border {
	border: none;
}

.s-la-color-bars {
	background-image: none;
	background-color: #fff;
}

.s-la-faq-action-bar ul.navbar-right {
	display: none;
}

.s-la-faq-listing-meta .label-topic, .s-la-faq-topics .label-topic {
	font-size: 1.2em;
	line-height: 2.2em;
}

.s-la-faq-topics.list-inline > li {
	display: block;
}

#s-la-search-results.col-md-9 {
	width: 100%;
}

#s-la-public-footer.s-la-color-bars {
	 margin-top: 1em;
  border-top: 1px solid #ddd;
}

#s-la-search-sidebar {
	display: none;
}

.s-la-box-title h2 {
	font-style:normal;
	border-bottom: 1px solid #ddd;
}


h3.help-boxtitle {
	margin-left: 0;
}

.help-category h3 a {
	color: #428bca !important;
}


#cms-header-inner {
  margin: 0;
  padding: 0;
}

#lib-library_header {
  background-color: #093a6d;
  color: #fff;
  padding: 1.5em 0 .25em;
}


#lib-library_header a {
  color: #fff;
  text-decoration: none;
}

#cms-navigation ul {
  float: left;
  margin-bottom: 0;
}

ul#login-nav {
  float: right !important;
}

.chat-button {
  float: right;
  margin-right: .5em;
  margin-top: .5em;
}

.chat-button button {
  font-size: 1.1em;
  border: 1px solid #bbb !important;
  padding-left: 2em !important;
}


#gvsu-cf_header-search, #s-la-footer-brand, #cms-header-image, .tel .type {
  display: none;
}

#cms-header .cms-navigation {
  margin-top: 0;
}

#cms-header-inner h1, #cms-header-inner h1 a {
    text-align: center;
    color: #FFF;
    text-transform: uppercase;
        background-color: #093a6d;
    margin-top: 0;
    padding: .5em;
 }

div#s-la-box-20403 {
  display: none;
}

#cms-footer ul li#lib-fed-deposit {
	float: right;
	text-align: right;
}

#lib-fed-deposit span {
	display: block;
	line-height: 1.3em;
}

#s-la-public-header a {
	color: #333;
}

#s-la-public-header a:hover {
	text-decoration:none;
}

h1#s-la-public-header-title {
  margin-left: .45em;
}

#cms-header .cms-navigation ul li ul {
	right: auto !important;
	border: 1px solid #bbb;
	margin-top: .75em;
}

.s-la-public-header-text {
  margin-bottom: 0;
}

h1 {
	margin-bottom: 0;
}

.s-la-faq-answer li {
	margin-left: 1.5em;
}
/* Hide stupid filters */

#s-srch-results-container .col-md-3 {
    display: none;
}

#s-srch-results-container .col-md-9 {
    width: 100% !important;
}

/* Picky styles for how the phone number displays in the footer */ 
.tel {
   color: #535353;
}
.tel .value {
	color: #dfdfdf;
	display: inline-block;
  margin-left: -.5em;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
 
    position: relative;
    bottom: 3px;
    }

#cms-header .cms-navigation ul li ul li {
  background-color: #dedede;
  border-bottom: 1px solid #bbb;
}

#cms-header .cms-navigation ul li ul li:hover,
#cms-navigation ul li:hover {
	background-color: #d2e2ef;
}

#cms-navigation ul {
	width: 100%;
}

li.cms-navigation-sub:hover {
	  background-color: #d2e2ef;
  color: #0060A7;
}

li.cms-navigation-sub:hover ul {
	display: block !important;
	margin-top: .25em;
}
.container {
    max-width: none !important;
    width: 100% !important;
}

#library-chat {
	float: right !important;
}

#library-chat a {
	font-family: Arial, sans-serif !important;
}

#cms-navigation-toggle {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
    box-sizing: content-box;
}

.site .library-hours a {
	text-decoration: underline;
}

.library-hours li.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.navigation {
	z-index: 0;
}

.pagination li.active a { color: #fff !important; }


@media screen and (min-width: 600px) {
	div#s-la-box-20403 {
		display: block;
  width: 50%;
  float: right;
  margin-top: -9em;
}
}

/* Grid styles : Based on Nicole Sullivan's OOCSS grids */

.line{overflow:hidden;*overflow:visible;*zoom:1;clear:both;}
.span1,.span3,.span2of3,#s-la-content-faqlist-19003 li.s-la-faq-listing { width:99%;}
.unit{padding:.5em 0;}
.left,
.right{float:none;}


@media screen and (min-width: 450px) {
.left,#s-la-content-faqlist-19003 li.s-la-faq-listing{float:left;}
.right{float:right;}
.s-la-public-home.s-la-public-header-text { text-align:left;}
}

@media screen and (min-width:550px) {
.span3,#s-la-content-faqlist-19003 li.s-la-faq-listing{width:32%;padding:.5em 2.5% .5em 0;}
.span2of3{width:65%;padding:.5em 1% .5em 0;}
.help-category {
	padding: 6em 1% 2em;
	border: 1px solid #ccc;
	text-align: center;
	height: 25em;
}
#libraryuse { background-image: url(https://prod.library.gvsu.edu/labs/libanswers/img/libraryuse.jpg);}
#find { background-image: url(https://prod.library.gvsu.edu/labs/libanswers/img/find.jpg); }
#needhelp { background-image: url(https://prod.library.gvsu.edu/labs/libanswers/img/needhelp.jpg); }
#libraryuse, #find, #needhelp { background-repeat: no-repeat; background-position: 50% 10%;}


}

@media screen and (min-width: 995px) {
div#s-la-box-20403 {

  margin-top: -8em;
}
.help-category { height: 20em; }
#libraryuse, #find, #needhelp {  background-position: 50% 15%;}

}



